<!-- This post module defines a post to be loaded into a gallery. -->
<article class='post' id='post{{post.id}}'>
    <figure>
        <img id="img{{post.id}}" src="/uploads/{{ post.filename }}" alt="{{post.title}}">
        <figcaption>{{ post.title }}</figcaption>
    </figure>
    <h3 class="author">By {{ post.author.username }}</h3>
    <p><strong>Description: <br /></strong>{{ post.description }}</p>
    {% if mode %}
    <a href="/delete/{{ post.id }}">Delete</a>
    {% endif %}
</article>
<!-- End of post module -->