{% extends "base.html" %}

<!-- Inserted at the top of the document -->
{% block header %}
<header>
    <h1>Galleria</h1>
    <p>Welcome to the galleria. Anyone can browse or submit to the gallery, just keep our Terms of Service in mind.<abbr
            title="There are none">*</abbr></p>
</header>
{% endblock %}

<!-- Inserted after the header and nav of the document -->
{% block content %}
<main class="gallery">
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
</main>
<script src="{{ url_for('static', filename='js/modalHandler.js') }}"></script>
{% endblock %}